<h1>Analytics  </h1>

Total Posts: <%= Post.total_count%> <br>
Total Comments: <%= Comment.total_count%> <br>
Restaurants with Posts: <%= @restaurants.restaurants_with_posts %>
<br><li>
<ul>
<% @users.each do  |user| %>

    <li>Username: <%=user.name%> </li>

    <li><%=user.name_and_comments(user)%>  </li>
    <li>Characters used:  <%=user.character_counts%> </li>
    <li><%=user.restaurant_owner(user)%></li>
    <li><%=user.account_created%> </li>
    <br><br>
<%end%> 
<ul>
