
<h3><%=@restaurant.name%></h3>
<%=@restaurant.description%> <br>
<li>
<%=@restaurant.phonenumber%> <br>

<%=@restaurant.email%> <br>
<%=link_to @restaurant.website %> <br>
</li>

<br>
<%=@restaurant.imageurl%>

