

<h1>Feed</h1>

<%@posts.each do |post|%>
<div class = "post_div">
<div class = "text_div">
<h3 class = "blue-text"> <%= post.restaurant.name %> </h3>  
<h4> <%= post.title %> </h4>  

<h5> <%= post.message %> </h5>
<h5>comments:</h5>

<%post.comments.each do |comment|%>
    <%=comment.user.name%><br><br>
   <%=comment.message%> <br>
    <%end%>
<% byebug %>
        <%=form_for @comment, url: {controller: "comments", action: "create"} do |f|%>
        <%=t.text_field :message%>
        <%=t.text_field :id%>
        <%=t.submit "submit"%>
        
        <%end%>
<%= link_to "Add a comment", new_comment_path%>
</div>
</div>
<%end%>


